{% extends 'base.html' %}
{% load static %}
{% block title %}Оформление заказа{% endblock %}
{% block content %}


<!--info about order-->
 <h3>Ваш заказ</h3>
<table class="table table-success table-striped">
    <thead>
    <tr>
      <th scope="col">Кол-во</th>
      <th scope="col">Товар</th>
      <th scope="col">Цена</th>

    </tr>
      {% for item in cart %}
  </thead>
  <tbody>
    <tr>
      <th scope="row"> {{ item.quantity }}</th>
      <td>{{ item.product.title }}</td>
      <td>{{ item.total_price }}</td>

    </tr>
      {% endfor %}
      <tr>
      <th class="table-info" scope="row">Всего:</th>
      <td class="table-info"></td>
      <td class="table-info">{{ cart.get_total_price }}</td>
    </tr>
  </tbody>
</table>


<!--form of order-->

 <form action="." method="post" class="order-form">
 {{ form.as_p }}
 <p align="right"><input type="submit" class="btn btn-warning" value="Подтвердить"></p>
 {% csrf_token %}
 </form>
{% endblock %}