billiard==3.6.4.0
celery==5.0.5
cryptography==3.4.6
Django==3.1.7
django-allauth==0.44.0
django-ckeditor==6.0.0
redis==3.5.3
django-celery-results==2.0.1
django-celery-beat==2.2.0
django-redis==4.12.1
psycopg2-binary==2.8.6
APScheduler==3.7.0
djangorestframework==3.12.4
django-user-agents
